.navbar {
  border: 1px solid black;
  border-radius: 15px;
}

.container {
  text-align: center;
}

.textBox {
  height: 40vh;
  border: 1px solid gray;
}

#feedBox {
  border: 1px solid black;
  height: 60vh;
}

#statusUpdate {
  height: 10vh;
}

#diary-body {
  background-color: #007bff!important;
}

#calendar .fc-center h2{
  color: white;
}

input[type="radio"] {
  margin-left: 20px;
}

#header-logo {
  width: 13.5vw;
  height: 10vh;
}

.navbar-default {
  background-color: white;
}

.navbar-brand {
  max-width: 100%;
}

.header-icon {
  width: 3.3vw;
  height: 4.5vh;
}

.header-text {
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.76px;
  color: #818181;
  display: inline;
}

.header-text-active {
  color: #55A4DB!important;
}

.header-text:hover {
  color: #7FC347!important;
}
