.navbar {
  border: 1px solid black;
}

.container {
  text-align: center;
}

.textBox {
  height: 40vh;
  border: 1px solid gray;
}

#feedBox {
  border: 1px solid black;
  height: 60vh;
}

#statusUpdate {
  height: 10vh;
}
