.navbar {
  border: 1px solid black;
  border-radius: 15px;
}

.container {
  text-align: center;
}

.textBox {
  height: 40vh;
  border: 1px solid gray;
}

#feedBox {
  border: 1px solid black;
  height: 60vh;
}

#statusUpdate {
  height: 10vh;
}

#diary-body {
  background-color: #007bff!important;
}

#calendar .fc-center h2{
  color: white;
}

input[type="radio"] {
  margin-left: 20px;
}

#header-logo {
  width: 13.5vw;
  height: 10vh;
}

.navbar-default {
  background-color: gray;
}
