<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
  <link rel="stylesheet" type="text/css" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css">
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/styles.css">

  <script>
    $(document).ready(function() {
      let eventSourceArr = [];
      $.ajax({
        url: '/diary',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          console.log('Diary GET success');
          console.log('data: ',data);
          for (let i in data.data) {

            //Convert UNIX time to date
            let a = new Date(data.data[i].created_at*1000);
            let year = a.getFullYear();
            year = year.toString();
            let month = a.getMonth();
            month = month.toString();
            if (month.length === 1) {
              month = '0' + month;
            }
            let date = a.getDate();
            date = date.toString();
            if (date.length === 1) {
              date = '0' + date;
            }
            let formattedTime = year + '-' + month + '-' + date;

            eventSourceArr.push({"title": data.data[i].feeling.toString(), "description": data.data[i].notes, "start": formattedTime});
          }
          $('#calendar').fullCalendar({
            events: eventSourceArr,
            header: {
              left: '',
              center: 'prev title next',
              right: ''
            },
            eventClick:  function(event, jsEvent, view) {
                $('#modalTitle').html(event.title);
                $('#modalBody').html(event.description);
                $('#eventUrl').attr('href',event.url);
                $('#fullCalModal').modal();
            }
          });
        },
        error: function() {
          console.log('Diary GET failure');
        }
      });
    });
  </script>

</head>
<body id="diary-body">
  {{ template "header.html" .}}
  <br /> <br /><br />

  <div id='calendar'></div>

  <div id="fullCalModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                  <h4 id="modalTitle" class="modal-title"></h4>
              </div>
              <div id="modalBody" class="modal-body">These are my notes</div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
              </div>
          </div>
      </div>
  </div>
  <br /> <br /><br />
  {{ template "footer.html" .}}

</body>
</html>
