<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .title }}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css">
  <link rel="stylesheet" type="text/css" media="print" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css">
  <link rel="stylesheet" type="text/css" href="./public/stylesheets/styles.css">

  <script>
    $(document).ready(function() {
      $('#calendar').fullCalendar({
          // events will need to be populated from the diary db table
          events: [
            {
                title: 'Event1',
                start: '2018-03-04'
            },
            {
                title: 'Event2',
                start: '2018-03-26'
            }
          ],
          customButtons: {
            addEventButton: {
              text: 'add event...',
              click: function() {
                let myDate;
                let myEventDesc;
                bootbox.prompt('Enter a date in YYYY-MM-DD format.', function(result){
                  myDate = moment(result);
                  bootbox.prompt('Enter a description of your event.', function(result){
                    myEventDesc = result;
                    if (date.isValid()) {
                      $('#calendar').fullCalendar('renderEvent', {
                        title: 'dynamic event',
                        start: date,
                        allDay: true
                      });
                      bootbox.alert('Successfully added event');
                      $.ajax({
                          url: '/diary',
                          type: 'post',
                          contentType: 'application/x-www-form-urlencoded',
                          data: {"date": myDate, "description", myEventDesc}
                          success: function(data){
                              console.log('jQuery success data: ',data);
                          },
                          error: function(errorThrown){
                              console.log('jQuery error thrown: ',errorThrown);
                          }
                      });


                    } else {
                      bootbox.alert('Invalid date.');
                    }
                  });
                });
              }
            }
          },
          header: {
            left: 'addEventButton',
            center: 'title',
            right: 'prev next'
          },
          eventClick:  function(event, jsEvent, view) {
              $('#modalTitle').html(event.title);
              $('#modalBody').html(event.description);
              $('#eventUrl').attr('href',event.url);
              $('#fullCalModal').modal();
          }
      })
    });
  </script>

</head>
<body id="diary-body">
  {{ template "header.html" .}}
  <br /> <br /><br />

  <div id='calendar'></div>

  <div id="fullCalModal" class="modal fade">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                  <h4 id="modalTitle" class="modal-title"></h4>
              </div>
              <div id="modalBody" class="modal-body">These are my notes</div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
              </div>
          </div>
      </div>
  </div>
  <br /> <br /><br />
  {{ template "footer.html" .}}

</body>
</html>
